﻿@model List<PacManGame.WEB.Models.User>
@{
    ViewData["Title"] = "High Scores";
    int i = 1;
}
<table class="table">
    <tr><td>TOP</td><td>Login</td><td>Email</td><td>Score</td></tr>
    @foreach (var item in Model)
    {
        <tr><td>@i</td><td>@item.UserName</td><td>@item.Email</td><td>@item.TopScore</td></tr>
        i++;
    }
</table>
