﻿<map name="classic">
    <grid height="21" width="19">
        <!-- <row column="1"> -->
        <cell row="1" column="1"><brick /></cell>
        <cell row="1" column="2"><brick /></cell>
        <cell row="1" column="3"><brick /></cell>
        <cell row="1" column="4"><brick /></cell>
        <cell row="1" column="5"><brick /></cell>
        <cell row="1" column="6"><brick /></cell>
        <cell row="1" column="7"><brick /></cell>
        <cell row="1" column="8"><brick /></cell>
        <cell row="1" column="9"><brick /></cell>
        <cell row="1" column="10"><brick /></cell>
        <cell row="1" column="11"><brick /></cell>
        <cell row="1" column="12"><brick /></cell>
        <cell row="1" column="13"><brick /></cell>
        <cell row="1" column="14"><brick /></cell>
        <cell row="1" column="15"><brick /></cell>
        <cell row="1" column="16"><brick /></cell>
        <cell row="1" column="17"><brick /></cell>
        <cell row="1" column="18"><brick /></cell>
        <cell row="1" column="19"><brick /></cell>
        <!-- </row>
        <row column="2"> -->
        <cell row="2" column="1"><brick /></cell>
        <cell row="2" column="2"><empty /></cell>
        <cell row="2" column="3"><empty /></cell>
        <cell row="2" column="4"><empty /></cell>
        <cell row="2" column="5"><empty /></cell>
        <cell row="2" column="6"><empty /></cell>
        <cell row="2" column="7"><empty /></cell>
        <cell row="2" column="8"><empty /></cell>
        <cell row="2" column="9"><empty /></cell>
        <cell row="2" column="10"><brick /></cell>
        <cell row="2" column="11"><empty /></cell>
        <cell row="2" column="12"><empty /></cell>
        <cell row="2" column="13"><empty /></cell>
        <cell row="2" column="14"><empty /></cell>
        <cell row="2" column="15"><empty /></cell>
        <cell row="2" column="16"><empty /></cell>
        <cell row="2" column="17"><empty /></cell>
        <cell row="2" column="18"><empty /></cell>
        <cell row="2" column="19"><brick /></cell>
        <!-- </row>
        <row column="3"> -->
        <cell row="3" column="1"><brick /></cell>
        <cell row="3" column="2"><empty /></cell>
        <cell row="3" column="3"><brick /></cell>
        <cell row="3" column="4"><brick /></cell>
        <cell row="3" column="5"><empty /></cell>
        <cell row="3" column="6"><brick /></cell>
        <cell row="3" column="7"><brick /></cell>
        <cell row="3" column="8"><brick /></cell>
        <cell row="3" column="9"><empty/></cell>
        <cell row="3" column="10"><brick /></cell>
        <cell row="3" column="11"><empty /></cell>
        <cell row="3" column="12"><brick /></cell>
        <cell row="3" column="13"><brick /></cell>
        <cell row="3" column="14"><brick /></cell>
        <cell row="3" column="15"><empty /></cell>
        <cell row="3" column="16"><brick /></cell>
        <cell row="3" column="17"><brick /></cell>
        <cell row="3" column="18"><empty /></cell>
        <cell row="3" column="19"><brick /></cell>
        <!-- </row>
        <row column="4"> -->
        <cell row="4" column="1"><brick /></cell>
        <cell row="4" column="2"><empty /></cell>
        <cell row="4" column="3"><empty /></cell>
        <cell row="4" column="4"><empty /></cell>
        <cell row="4" column="5"><empty /></cell>
        <cell row="4" column="6"><empty /></cell>
        <cell row="4" column="7"><empty /></cell>
        <cell row="4" column="8"><empty /></cell>
        <cell row="4" column="9"><empty /></cell>
        <cell row="4" column="10"><empty /></cell>
        <cell row="4" column="11"><empty /></cell>
        <cell row="4" column="12"><empty /></cell>
        <cell row="4" column="13"><empty /></cell>
        <cell row="4" column="14"><empty /></cell>
        <cell row="4" column="15"><empty /></cell>
        <cell row="4" column="16"><empty /></cell>
        <cell row="4" column="17"><empty /></cell>
        <cell row="4" column="18"><empty /></cell>
        <cell row="4" column="19"><brick /></cell>
        <!-- </row>
        <row column="5"> -->
        <cell row="5" column="1"><brick /></cell>
        <cell row="5" column="2"><empty/></cell>
        <cell row="5" column="3"><brick /></cell>
        <cell row="5" column="4"><brick /></cell>
        <cell row="5" column="5"><empty/></cell>
        <cell row="5" column="6"><brick /></cell>
        <cell row="5" column="7"><empty /></cell>
        <cell row="5" column="8"><brick /></cell>
        <cell row="5" column="9"><brick /></cell>
        <cell row="5" column="10"><brick /></cell>
        <cell row="5" column="11"><brick /></cell>
        <cell row="5" column="12"><brick /></cell>
        <cell row="5" column="13"><empty /></cell>
        <cell row="5" column="14"><brick /></cell>
        <cell row="5" column="15"><empty/></cell>
        <cell row="5" column="16"><brick /></cell>
        <cell row="5" column="17"><brick /></cell>
        <cell row="5" column="18"><empty /></cell>
        <cell row="5" column="19"><brick /></cell>
        <!-- </row>
        <row column="6"> -->
        <cell row="6" column="1"><brick /></cell>
        <cell row="6" column="2"><empty /></cell>
        <cell row="6" column="3"><empty /></cell>
        <cell row="6" column="4"><empty /></cell>
        <cell row="6" column="5"><empty /></cell>
        <cell row="6" column="6"><brick /></cell>
        <cell row="6" column="7"><empty /></cell>
        <cell row="6" column="8"><empty /></cell>
        <cell row="6" column="9"><empty /></cell>
        <cell row="6" column="10"><brick /></cell>
        <cell row="6" column="11"><empty /></cell>
        <cell row="6" column="12"><empty /></cell>
        <cell row="6" column="13"><empty /></cell>
        <cell row="6" column="14"><brick /></cell>
        <cell row="6" column="15"><empty /></cell>
        <cell row="6" column="16"><empty /></cell>
        <cell row="6" column="17"><empty /></cell>
        <cell row="6" column="18"><empty /></cell>
        <cell row="6" column="19"><brick /></cell>
        <!-- </row>
        <row column="7"> -->
        <cell row="7" column="1"><brick /></cell>
        <cell row="7" column="2"><brick /></cell>
        <cell row="7" column="3"><brick /></cell>
        <cell row="7" column="4"><brick /></cell>
        <cell row="7" column="5"><empty /></cell>
        <cell row="7" column="6"><brick /></cell>
        <cell row="7" column="7"><brick /></cell>
        <cell row="7" column="8"><brick /></cell>
        <cell row="7" column="9"><empty /></cell>
        <cell row="7" column="10"><brick /></cell>
        <cell row="7" column="11"><empty /></cell>
        <cell row="7" column="12"><brick /></cell>
        <cell row="7" column="13"><brick /></cell>
        <cell row="7" column="14"><brick /></cell>
        <cell row="7" column="15"><empty /></cell>
        <cell row="7" column="16"><brick /></cell>
        <cell row="7" column="17"><brick /></cell>
        <cell row="7" column="18"><brick /></cell>
        <cell row="7" column="19"><brick /></cell>
        <!-- </row>
        <row column="8"> -->
        <cell row="8" column="1"><empty /></cell>
        <cell row="8" column="2"><empty /></cell>
        <cell row="8" column="3"><empty /></cell>
        <cell row="8" column="4"><brick /></cell>
        <cell row="8" column="5"><empty/></cell>
        <cell row="8" column="6"><brick /></cell>
        <cell row="8" column="7"><empty /></cell>
        <cell row="8" column="8"><empty /></cell>
        <cell row="8" column="9"><empty /></cell>
        <cell row="8" column="10"><empty /></cell>
        <cell row="8" column="11"><empty /></cell>
        <cell row="8" column="12"><empty /></cell>
        <cell row="8" column="13"><empty /></cell>
        <cell row="8" column="14"><brick /></cell>
        <cell row="8" column="15"><empty/></cell>
        <cell row="8" column="16"><brick /></cell>
        <cell row="8" column="17"><empty /></cell>
        <cell row="8" column="18"><empty /></cell>
        <cell row="8" column="19"><empty /></cell>
        <!-- </row>
        <row column="9"> -->
        <cell row="9" column="1"><brick /></cell>
        <cell row="9" column="2"><brick /></cell>
        <cell row="9" column="3"><brick /></cell>
        <cell row="9" column="4"><brick /></cell>
        <cell row="9" column="5"><empty /></cell>
        <cell row="9" column="6"><brick /></cell>
        <cell row="9" column="7"><empty /></cell>
        <cell row="9" column="8"><brick /></cell>
        <cell row="9" column="9"><brick /></cell>
        <cell row="9" column="10"><empty /></cell>
        <cell row="9" column="11"><brick /></cell>
        <cell row="9" column="12"><brick /></cell>
        <cell row="9" column="13"><empty /></cell>
        <cell row="9" column="14"><brick /></cell>
        <cell row="9" column="15"><empty/></cell>
        <cell row="9" column="16"><brick /></cell>
        <cell row="9" column="17"><brick /></cell>
        <cell row="9" column="18"><brick /></cell>
        <cell row="9" column="19"><brick /></cell>
        <!-- </row>
        <row column="10"> -->
        <cell row="10" column="1"><teleportation /></cell>
        <cell row="10" column="2"><empty /></cell>
        <cell row="10" column="3"><empty /></cell>
        <cell row="10" column="4"><empty /></cell>
        <cell row="10" column="5"><empty /></cell>
        <cell row="10" column="6"><empty /></cell>
        <cell row="10" column="7"><empty /></cell>
        <cell row="10" column="8"><brick /></cell>
        <cell row="10" column="9"><empty /></cell>
        <cell row="10" column="10"><empty /></cell>
        <cell row="10" column="11"><empty /></cell>
        <cell row="10" column="12"><brick /></cell>
        <cell row="10" column="13"><empty /></cell>
        <cell row="10" column="14"><empty /></cell>
        <cell row="10" column="15"><empty /></cell>
        <cell row="10" column="16"><empty /></cell>
        <cell row="10" column="17"><empty /></cell>
        <cell row="10" column="18"><empty /></cell>
        <cell row="10" column="19"><teleportation /></cell>
        <!-- </row>
        <row column="11"> -->
        <cell row="11" column="1"><brick /></cell>
        <cell row="11" column="2"><brick /></cell>
        <cell row="11" column="3"><brick /></cell>
        <cell row="11" column="4"><brick /></cell>
        <cell row="11" column="5"><empty /></cell>
        <cell row="11" column="6"><brick /></cell>
        <cell row="11" column="7"><empty /></cell>
        <cell row="11" column="8"><brick /></cell>
        <cell row="11" column="9"><brick /></cell>
        <cell row="11" column="10"><brick /></cell>
        <cell row="11" column="11"><brick /></cell>
        <cell row="11" column="12"><brick /></cell>
        <cell row="11" column="13"><empty /></cell>
        <cell row="11" column="14"><brick /></cell>
        <cell row="11" column="15"><empty /></cell>
        <cell row="11" column="16"><brick /></cell>
        <cell row="11" column="17"><brick /></cell>
        <cell row="11" column="18"><brick /></cell>
        <cell row="11" column="19"><brick /></cell>
        <!-- </row>
        <row column="12"> -->
        <cell row="12" column="1"><empty /></cell>
        <cell row="12" column="2"><empty /></cell>
        <cell row="12" column="3"><empty /></cell>
        <cell row="12" column="4"><brick /></cell>
        <cell row="12" column="5"><empty /></cell>
        <cell row="12" column="6"><brick /></cell>
        <cell row="12" column="7"><empty /></cell>
        <cell row="12" column="8"><empty /></cell>
        <cell row="12" column="9"><empty /></cell>
        <cell row="12" column="10"><empty /></cell>
        <cell row="12" column="11"><empty /></cell>
        <cell row="12" column="12"><empty /></cell>
        <cell row="12" column="13"><empty /></cell>
        <cell row="12" column="14"><brick /></cell>
        <cell row="12" column="15"><empty /></cell>
        <cell row="12" column="16"><brick /></cell>
        <cell row="12" column="17"><empty /></cell>
        <cell row="12" column="18"><empty /></cell>
        <cell row="12" column="19"><empty /></cell>
        <!-- </row>
        <row column="13"> -->
        <cell row="13" column="1"><brick /></cell>
        <cell row="13" column="2"><brick /></cell>
        <cell row="13" column="3"><brick /></cell>
        <cell row="13" column="4"><brick /></cell>
        <cell row="13" column="5"><empty/></cell>
        <cell row="13" column="6"><brick /></cell>
        <cell row="13" column="7"><empty /></cell>
        <cell row="13" column="8"><brick /></cell>
        <cell row="13" column="9"><brick /></cell>
        <cell row="13" column="10"><brick /></cell>
        <cell row="13" column="11"><brick /></cell>
        <cell row="13" column="12"><brick /></cell>
        <cell row="13" column="13"><empty /></cell>
        <cell row="13" column="14"><brick /></cell>
        <cell row="13" column="15"><empty /></cell>
        <cell row="13" column="16"><brick /></cell>
        <cell row="13" column="17"><brick /></cell>
        <cell row="13" column="18"><brick /></cell>
        <cell row="13" column="19"><brick /></cell>
        <!-- </row>
        <row column="14"> -->
        <cell row="14" column="1"><brick /></cell>
        <cell row="14" column="2"><empty/></cell>
        <cell row="14" column="3"><empty/></cell>
        <cell row="14" column="4"><empty/></cell>
        <cell row="14" column="5"><empty/></cell>
        <cell row="14" column="6"><empty/></cell>
        <cell row="14" column="7"><empty/></cell>
        <cell row="14" column="8"><empty/></cell>
        <cell row="14" column="9"><empty/></cell>
        <cell row="14" column="10"><brick /></cell>
        <cell row="14" column="11"><empty /></cell>
        <cell row="14" column="12"><empty /></cell>
        <cell row="14" column="13"><empty /></cell>
        <cell row="14" column="14"><empty /></cell>
        <cell row="14" column="15"><empty /></cell>
        <cell row="14" column="16"><empty /></cell>
        <cell row="14" column="17"><empty /></cell>
        <cell row="14" column="18"><empty /></cell>
        <cell row="14" column="19"><brick /></cell>
        <!-- </row>
        <row column="15"> -->
        <cell row="15" column="1"><brick /></cell>
        <cell row="15" column="2"><empty /></cell>
        <cell row="15" column="3"><brick /></cell>
        <cell row="15" column="4"><brick /></cell>
        <cell row="15" column="5"><empty /></cell>
        <cell row="15" column="6"><brick /></cell>
        <cell row="15" column="7"><brick /></cell>
        <cell row="15" column="8"><brick /></cell>
        <cell row="15" column="9"><empty /></cell>
        <cell row="15" column="10"><brick /></cell>
        <cell row="15" column="11"><empty /></cell>
        <cell row="15" column="12"><brick /></cell>
        <cell row="15" column="13"><brick /></cell>
        <cell row="15" column="14"><brick /></cell>
        <cell row="15" column="15"><empty /></cell>
        <cell row="15" column="16"><brick /></cell>
        <cell row="15" column="17"><brick /></cell>
        <cell row="15" column="18"><empty /></cell>
        <cell row="15" column="19"><brick /></cell>
        <!-- </row>
        <row column="16"> -->
        <cell row="16" column="1"><brick /></cell>
        <cell row="16" column="2"><empty/></cell>
        <cell row="16" column="3"><empty /></cell>
        <cell row="16" column="4"><brick /></cell>
        <cell row="16" column="5"><empty/></cell>
        <cell row="16" column="6"><empty /></cell>
        <cell row="16" column="7"><empty /></cell>
        <cell row="16" column="8"><empty /></cell>
        <cell row="16" column="9"><empty /></cell>
        <cell row="16" column="10"><empty /></cell>
        <cell row="16" column="11"><empty /></cell>
        <cell row="16" column="12"><empty /></cell>
        <cell row="16" column="13"><empty /></cell>
        <cell row="16" column="14"><empty /></cell>
        <cell row="16" column="15"><empty /></cell>
        <cell row="16" column="16"><brick /></cell>
        <cell row="16" column="17"><empty /></cell>
        <cell row="16" column="18"><empty /></cell>
        <cell row="16" column="19"><brick /></cell>
        <!-- </row>
        <row column="17"> -->
        <cell row="17" column="1"><brick /></cell>
        <cell row="17" column="2"><brick /></cell>
        <cell row="17" column="3"><empty /></cell>
        <cell row="17" column="4"><brick /></cell>
        <cell row="17" column="5"><empty /></cell>
        <cell row="17" column="6"><brick /></cell>
        <cell row="17" column="7"><empty /></cell>
        <cell row="17" column="8"><brick /></cell>
        <cell row="17" column="9"><brick /></cell>
        <cell row="17" column="10"><brick /></cell>
        <cell row="17" column="11"><brick /></cell>
        <cell row="17" column="12"><brick /></cell>
        <cell row="17" column="13"><point class="small" /></cell>
        <cell row="17" column="14"><brick /></cell>
        <cell row="17" column="15"><point class="small" /></cell>
        <cell row="17" column="16"><brick /></cell>
        <cell row="17" column="17"><point class="small" /></cell>
        <cell row="17" column="18"><brick /></cell>
        <cell row="17" column="19"><brick /></cell>
        <!-- </row>
        <row column="18"> -->
        <cell row="18" column="1"><brick /></cell>
        <cell row="18" column="2"><empty /></cell>
        <cell row="18" column="3"><empty /></cell>
        <cell row="18" column="4"><empty /></cell>
        <cell row="18" column="5"><empty /></cell>
        <cell row="18" column="6"><brick /></cell>
        <cell row="18" column="7"><empty /></cell>
        <cell row="18" column="8"><empty /></cell>
        <cell row="18" column="9"><empty /></cell>
        <cell row="18" column="10"><brick /></cell>
        <cell row="18" column="11"><empty /></cell>
        <cell row="18" column="12"><empty /></cell>
        <cell row="18" column="13"><empty /></cell>
        <cell row="18" column="14"><brick /></cell>
        <cell row="18" column="15"><empty /></cell>
        <cell row="18" column="16"><empty /></cell>
        <cell row="18" column="17"><empty /></cell>
        <cell row="18" column="18"><empty /></cell>
        <cell row="18" column="19"><brick /></cell>
        <!-- </row>
        <row column="19"> -->
        <cell row="19" column="1"><brick /></cell>
        <cell row="19" column="2"><empty /></cell>
        <cell row="19" column="3"><brick /></cell>
        <cell row="19" column="4"><brick /></cell>
        <cell row="19" column="5"><brick /></cell>
        <cell row="19" column="6"><brick /></cell>
        <cell row="19" column="7"><brick /></cell>
        <cell row="19" column="8"><brick /></cell>
        <cell row="19" column="9"><empty/></cell>
        <cell row="19" column="10"><brick /></cell>
        <cell row="19" column="11"><empty/></cell>
        <cell row="19" column="12"><brick /></cell>
        <cell row="19" column="13"><brick /></cell>
        <cell row="19" column="14"><brick /></cell>
        <cell row="19" column="15"><brick /></cell>
        <cell row="19" column="16"><brick /></cell>
        <cell row="19" column="17"><brick /></cell>
        <cell row="19" column="18"><empty /></cell>
        <cell row="19" column="19"><brick /></cell>
        <!-- </row>
        <row column="20"> -->
        <cell row="20" column="1"><brick /></cell>
        <cell row="20" column="2"><empty /></cell>
        <cell row="20" column="3"><empty /></cell>
        <cell row="20" column="4"><empty /></cell>
        <cell row="20" column="5"><empty /></cell>
        <cell row="20" column="6"><empty /></cell>
        <cell row="20" column="7"><empty /></cell>
        <cell row="20" column="8"><empty /></cell>
        <cell row="20" column="9"><empty /></cell>
        <cell row="20" column="10"><empty /></cell>
        <cell row="20" column="11"><empty /></cell>
        <cell row="20" column="12"><empty /></cell>
        <cell row="20" column="13"><empty /></cell>
        <cell row="20" column="14"><empty /></cell>
        <cell row="20" column="15"><empty /></cell>
        <cell row="20" column="16"><empty /></cell>
        <cell row="20" column="17"><empty /></cell>
        <cell row="20" column="18"><empty /></cell>
        <cell row="20" column="19"><brick /></cell>
        <!-- </row>
        <row column="21"> -->
        <cell row="21" column="1"><brick /></cell>
        <cell row="21" column="2"><brick /></cell>
        <cell row="21" column="3"><brick /></cell>
        <cell row="21" column="4"><brick /></cell>
        <cell row="21" column="5"><brick /></cell>
        <cell row="21" column="6"><brick /></cell>
        <cell row="21" column="7"><brick /></cell>
        <cell row="21" column="8"><brick /></cell>
        <cell row="21" column="9"><brick /></cell>
        <cell row="21" column="10"><brick /></cell>
        <cell row="21" column="11"><brick /></cell>
        <cell row="21" column="12"><brick /></cell>
        <cell row="21" column="13"><brick /></cell>
        <cell row="21" column="14"><brick /></cell>
        <cell row="21" column="15"><brick /></cell>
        <cell row="21" column="16"><brick /></cell>
        <cell row="21" column="17"><brick /></cell>
        <cell row="21" column="18"><brick /></cell>
        <cell row="21" column="19"><brick /></cell>
    </grid>

    <ghosts>
        <ghost row="20" column="9" class="shadow" />
        <ghost row="20" column="11" class="speedy" />

    </ghosts>

    <pacman row="20" column="12">
    </pacman>

    <wallColor color="red"> </wallColor>
    <energizerColor color="yellow"> </energizerColor>
</map>