﻿@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>

<p>Pac-Man (Japanese: パックマン Hepburn: Pakkuman), stylized as PAC-MAN, is an arcade game developed by Namco and first released in Japan as Puck Man in May 1980. It was created by Japanese video game designer Toru Iwatani. 
    It was licensed for distribution in the United States by Midway Games and released in October 1980. 
    Immensely popular from its original release to the present day, Pac-Man is considered one of the classics of the medium, and an icon of 1980s popular culture. 
    Upon its release, the game—and, subsequently, Pac-Man derivatives—became a social phenomenon that yielded high sales of merchandise and inspired a legacy in other media, such as the Pac-Man animated television series and the top-ten Buckner and Garcia hit single "Pac-Man Fever". 
    Pac-Man was popular in the 1980s and 1990s and is still played in the 2018s.</p>
<p>Author: <strong>Haizer Nazar</strong></p>