﻿@{
    ViewData["Title"] = "FAQ";
}
<div class="container">
    <div class="page-header">
        <h1>PAC-MAN FAQ <small>Frequently Asked Questions</small></h1>
    </div>
    <!-- Bootstrap FAQ - START -->
    <div class="container">
        <br />
        <br />
        <br />
        <div class="alert alert-warning alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            If you cannot find an answer to your question, make sure to contact us.
        </div>
        <br />
        <div class="panel-group" id="accordion">
            <div class="faqHeader">General questions</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion" href="#collapseOne">PACMAN STORY</a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in">
                    <div class="panel-body">
                        Pacman is an all time classic video game. You can play Pacman for free here.
                        When it was released in 1980, the popular games were Asteroids and Space Invaders.
                        Pacman broke the mold, appealing to both men and women alike.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTen">HOW TO PLAY</a>
                    </h4>
                </div>
                <div id="collapseTen" class="panel-collapse collapse">
                    <div class="panel-body">
                        Use the arrow keys to move, avoid the ghosts.
                        Get powerups and you can turn around to catch the ghosts.
                        Each ghost has different rules for how they track you.
                        Bonus items can help get you extra lives.
                        Collect all points to advance to the next level.
                    </div>
                </div>
            </div>
            <div class="faqHeader">Enemies</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">Blinky</a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Character (Personality): Oikake (追いかけ);</li>
                            <li>Translation: Chaser;</li>
                            <br />
                            <li>Nickname: Akabei (赤ベイ);</li>
                            <li>Alternate Character: Urchin;</li>
                            <li>Alternate Nickname: Macky;</li>
                            <li>Character (Personality): Shadow;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree">Pinky</a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Character (Personality): Machibuse (待ち伏せ);</li>
                            <li>Translation: Ambusher;</li>
                            <br />
                            <li>Nickname: Pinky (ピンキー);</li>
                            <li>Alternate Character: Romp;</li>
                            <li>Alternate Nickname: Micky;</li>
                            <li>Character (Personality): Speedy;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFive">Inky</a>
                    </h4>
                </div>
                <div id="collapseFive" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Character (Personality): Kimagure (気まぐれ);</li>
                            <li>Translation: Fickle;</li>
                            <br />
                            <li>Nickname: Aosuke (青助);</li>
                            <li>Alternate Character: Stylist;</li>
                            <li>Alternate Nickname: Mucky;</li>
                            <li>Character (Personality): Bashful;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseSix">Clyde</a>
                    </h4>
                </div>
                <div id="collapseSix" class="panel-collapse collapse">
                    <div class="panel-body">
                        <ul>
                            <li>Character (Personality): Otoboke (お惚け);</li>
                            <li>Translation: Feigned Ignorance;</li>
                            <br />
                            <li>Nickname: Guzuta (愚図た);</li>
                            <li>Alternate Character: Crybaby;</li>
                            <li>Alternate Nickname: Mocky;</li>
                            <li>Character (Personality): Pokey;</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="faqHeader">Impact</div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a class="accordion-toggle collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseFour">P.S</a>
                    </h4>
                </div>
                <div id="collapseFour" class="panel-collapse collapse">
                    <div class="panel-body">
                        An important trait of any game is the illusion of winnability ... The most successful game in this respect is <strong> Pac-Man</strong> ,
                        which appears winnable to most players, yet is never quite winnable.
                        <br />
                        — Chris Crawford, 1982
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>

        .faqHeader {
            font-size: 27px;
            margin: 20px;
        }

        .panel-heading [data-toggle="collapse"]:after {
            font-family: 'Glyphicons Halflings';
            content: "\e072"; /* "play" icon */
            float: right;
            color: #F58723;
            font-size: 18px;
            line-height: 22px;
            /* rotate "play" icon from > (right arrow) to down arrow */
            -webkit-transform: rotate(-90deg);
            -moz-transform: rotate(-90deg);
            -ms-transform: rotate(-90deg);
            -o-transform: rotate(-90deg);
            transform: rotate(-90deg);
        }

        .panel-heading [data-toggle="collapse"].collapsed:after {
            /* rotate "play" icon from > (right arrow) to ^ (up arrow) */
            -webkit-transform: rotate(90deg);
            -moz-transform: rotate(90deg);
            -ms-transform: rotate(90deg);
            -o-transform: rotate(90deg);
            transform: rotate(90deg);
            color: #454444;
        }
    </style>
    <!-- Bootstrap FAQ - END -->

