﻿@model object[,]
@{
    ViewData["Title"] = "Home Page";
    int w = Model.GetLength(0);
    int h = Model.GetLength(1);
}
@using PacManGame.MainModels
@using PacManGame.EatableModels

<script src="~/js/DrawObjects_v.4.4.3.js"></script>

<div id="backGround" style="
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */">

    <dialog id="infoDialog" style="top: 0;
                        bottom: 0;
		                text-align: center;">
        <h2 id="textInfo"></h2>
        <button id="oKbutton" style="width:100%;">OK</button>
    </dialog>

    <dialog id="gameOverDialog" style="top: 0;
                        bottom: 0;
		                width:400px;
						height:300px;">
        <h2 style="text-align:center">GAME OVER</h2>
        <h2 id="textInfo"></h2>
        <label style="text-align: left">
            Enter your nickname:
        </label>
        <p></p>
        <input type="text" style="width:100%; text-align:center" name="nickNameInput" placeholder="Trump">
        <p></p>
        <button id="saveButton" style="width:100%;">SAVE</button>
    </dialog>
</div>

<div id"sDiv" style="float:left;
  margin:10px 10px 10px 10px;
  width:200px;
  padding: 5px;
  text-align: center;
  border-radius: 4px;">

    <div id="infoBar">
        <h3 id="scoreInfo" style="font-family:verdana; font-size:200%;">SCORE 0</h3>
    </div>
    <div id="inputForm">
        <input type="button" style="padding: 5px; margin:3px 3px 3px 5px;" id="upBtn" value="UP" /><br>
        <input type="button" style="padding: 5px;margin:3px 3px 3px 5px;" id="leftBtn" value="LEFT" /><br>
        <input type="button" style="padding: 5px;margin:3px 3px 3px 5px;" id="rightBtn" value="RIGHT" /><br>
        <input type="button" style="padding: 5px;margin:3px 3px 3px 5px;" id="downBtn" value="DOWN" /><br>
        <input type="button" style="padding: 5px;margin:3px 3px 3px 5px; background-color:red" id="startBtn" value="START" /><br>
        <input type="button" style="padding: 5px;margin:3px 3px 3px 5px;background-color:red" id="resumeBtn" value="RESUME" /><br>
        <input type="button" style="padding: 5px;margin:3px 3px 3px 5px;background-color:red" id="stopBtn" value="STOP" /><br>
    </div>
</div>

<div id="mainDiv" style="display:inline-block; margin-left:100px">
    <canvas id="myCanvas" height="520" width="970" style="background-color:#eee; border: 1px solid #ccc;"></canvas>
    <img id="pacManImg" src="/Pacman.png" style="position:absolute;visibility:hidden;" />
    <div id="infoWindow">

    </div>
</div>

<div id="musicPlayer">
    <audio id="beginning" src="~/Music/pacman_beginning.wav" type="audio/wav"> </audio>
    <audio id="eating" src="~/Music/pacman_chomp.wav" type="audio/wav"> </audio>
    <audio id="death" src="~/Music/pacman_death.wav" type="audio/wav"> </audio>
</div>

<script src="~/js/signalr.min.js"></script>

<script>
        function DrawCanvas()
        {
            var canvas = document.getElementById("myCanvas"),
                context = canvas.getContext("2d");

            context.clearRect(0, 0, canvas.width, canvas.height);

             @for (int i = 0; i < Model.GetLength(0); i++)
              {
                  for (int j = 0; j < Model.GetLength(1); j++)
                  {
                    if (Model[i, j] is Wall)
                    {
                        <text>
                        DrawWall(@i, @j, context);
                        </text>
                    }
                    else if (Model[i, j] is PointFood)
                    {
                        <text>
                            DrawPointFood(@i,@j, context);
                        </text>
                    }
                    else if(Model[i, j] is Energizer)
                    {
                        <text>
                            DrawEnergizer(@i, @j, context);
                        </text>
                    }
                    else if(Model[i, j] is Berry)
                    {
                        <text>
                            DrawImg(@i, @j, context, "/new_cherry.png");
                        </text>
                    }
                    else if(Model[i, j] is Gate)
                    {
                        <text>
                            DrawImg(@i, @j, context, "/gate.png");
                        </text>
                    }
                    else
                    {
                        <text>
                            DrawEmpty(@i, @j, context);
                        </text>
                    }
                  }
              }
        }
</script>

<script>
    var timerId;
    var wallColor = "#ff0066";
    var energizerColor = "blue";
    var spritesCreated = false;
    var canvas = document.getElementById("myCanvas"),
        context = canvas.getContext("2d");

    var cellSize = Math.floor(520 / @h);

    canvas.width = cellSize * @w;
    canvas.height = cellSize * @h;

    let hubUrl = 'http://admindembe-001-site1.etempurl.com/game';
    //let hubUrl = 'http://localhost:54282/game';
    const hubConnection = new signalR.HubConnectionBuilder()
        .withUrl(hubUrl)
        .configureLogging(signalR.LogLevel.Information )
        .build();

    hubConnection.on("InitGhosts", function (count, position) {
        var rect = document.getElementById("myCanvas").getBoundingClientRect();
        for (var i = 0; i < count; i++) {
            var img = document.createElement("img");
            var src = document.getElementById("mainDiv");
            src.appendChild(img);
            img.style.position = "absolute";
            img.style.top = (rect.top + position[i][1] * cellSize) + 'px';
            img.style.left = (rect.left + position[i][0] * cellSize) + 'px';
            img.style.height = cellSize + 'px';
            img.style.width = cellSize + 'px';
            img.id = "ghostImg" + i;
        }
    });

    hubConnection.on("AddGhost", function (x, y, currentCountOfGhosts) {
        var rect = document.getElementById("myCanvas").getBoundingClientRect();
        var img = document.createElement("img");
        var src = document.getElementById("mainDiv");
        src.appendChild(img);
        img.style.position = "absolute";
        img.style.top = (rect.top + x * cellSize) + 'px';
        img.style.left = (rect.left + y * cellSize) + 'px';
        img.style.height = cellSize + 'px';
        img.style.width = cellSize + 'px';
        img.id = "ghostImg" + (currentCountOfGhosts - 1);
    });

    hubConnection.on("InitPacMan", function (x, y, countOfLives) {
        var rect = document.getElementById("myCanvas").getBoundingClientRect();

        // Initiate PacMan image.
        var imgPacMan = document.getElementById("pacManImg");
        imgPacMan.style.top = (rect.top + (y * cellSize)) + 'px';
        imgPacMan.style.left = (rect.left + (x * cellSize)) + 'px';
        imgPacMan.style.visibility = "visible";
        imgPacMan.style.height = cellSize + 'px';
        imgPacMan.style.width = cellSize + 'px';

        // Initiate PacMan lives img.
        for (var i = 0; i < countOfLives; i++) {
            var img = document.createElement("img");
            img.src = "/Pacman.png";
            img.style.width = cellSize +'px';
            img.style.height = cellSize + 'px';
            var src = document.getElementById("infoBar");
            src.appendChild(img);
            img.style.position = "relative";
            //img.style.top = (rect.bottom) + 'px';
            img.style.left = (i * 10) + 'px';
            img.id = "pacManLife" + i;
        }
    });


    hubConnection.on("SetSRCGhost", function (id, img) {
        var imgGhost = document.getElementById("ghostImg" + id);
        imgGhost.src = img;
    });

    hubConnection.on("UseLife", function (countOfLives) {

        var deathMusic = document.getElementById("death");
        deathMusic.play();

        // Remove PacMan life img.
        var iBar = document.getElementById("infoBar");
        var imgLife = document.getElementById("pacManLife" + countOfLives);
        iBar.removeChild(imgLife);

        if (countOfLives > 0) {
            clearTimeout(timerId);
            var dialog = document.getElementById('infoDialog');
            var text = document.getElementById('textInfo');
            var back = document.getElementById('backGround');
            back.style.display = "block";
            text.innerHTML = "Ooops.. be carful next time";

            dialog.show();
            document.querySelector('#oKbutton').onclick = function () {
                back.style.display = "none";
                timerId = setInterval(StartGame, 400);
                hubConnection.invoke("StartGame");
                dialog.close();
            };
        }
    });

    hubConnection.on("PrintPacMan", function (curX, curY, x, y, directionX, directionY) {
        var pacManMusic = document.getElementById("eating");
        pacManMusic.play();

        DrawPacMan(curX, curY, x, y, context, directionX, directionY);
    });

    hubConnection.on("PrintGhost", function (curX, curY, x, y, img, iter) {
        DrawGhost(curX, curY, x, y, context, img, "ghostImg" + iter);
    });

    hubConnection.on("PrintBerry", function (x, y) {
        DrawImg(x, y, context, "/new_cherry.png");
    });

    hubConnection.on("PrintScore", function (score) {
        var str = "SCORE " + score;
        var h = document.getElementById("scoreInfo");
        h.innerHTML = str;
    });

    hubConnection.on("RemoveObject", function (x, y) {
        DrawEmpty(x, y, context);
    });

    hubConnection.on("NextLevel", function (game, score) {
        hubConnection.invoke("StopGame");
        clearTimeout(timerId);
        clearTimeout(pacManAnimId);
        clearTimeout(GhostAnimId);

        var dialog = document.getElementById('infoDialog');
        var text = document.getElementById('textInfo');
        var back = document.getElementById('backGround');
        back.style.display = "block";
        text.innerHTML = "Good job. Get ready! Next level!";
        var url = "/Home/NextMap?gameMap=" + game + "&score=" + score;
        console.log(url);

        dialog.show();
        document.querySelector('#oKbutton').onclick = function () {
            back.style.display = "none";
            //hubConnection.invoke("SaveRecord");
            window.location.href = url;
            dialog.close();
        }
    });

    hubConnection.on("GameOver", function (score) {
        clearTimeout(timerId);
        var dialog = document.getElementById('infoDialog');
        var text = document.getElementById('textInfo');
        var back = document.getElementById('backGround');
        back.style.display = "block";

        @if(User.Identity.IsAuthenticated)
        {
            <text>
            text.innerHTML = "Your score: " + score;

            dialog.show();
            document.querySelector('#oKbutton').onclick = function() {
                back.style.display = "none";
                hubConnection.invoke("SaveRecord");
                dialog.close();
        };
            </text>
        }
        else
        {
            <text>
            text.innerHTML = "Please Login or Register if you want to save your score!";
            dialog.show();
            document.querySelector('#oKbutton').onclick = function() {
                back.style.display = "none";
                dialog.close();
        };
            </text>
        }
        document.getElementById("startBtn").disabled = true;
        document.getElementById("resumeBtn").disabled = true;
        document.getElementById("stopBtn").disabled = true;
    });


    var running = false;
    document.getElementById("startBtn").addEventListener("click", function (e) {
        if (!running && !spritesCreated) {
            var startMusic = document.getElementById("beginning");
            startMusic.play();

            hubConnection.invoke("SetSprites");
            setTimeout(() => {
                hubConnection.invoke("StartGame");
                timerId = setInterval(StartGame, 550);
                running = true;
                spritesCreated = true;
            }, 4000);
            document.getElementById("startBtn").disabled = true;
        }
        else {
            alert("Game already started or sprites created!");
        }
    });

    document.getElementById("resumeBtn").addEventListener("click", function (e) {
        if (!running && spritesCreated) {
            hubConnection.invoke("StartGame");
            timerId = setInterval(StartGame, 400);
            running = true;
        }
        else {
            alert("Game already started or sprites not created");
        }
    });

    document.getElementById("stopBtn").addEventListener("click", function (e) {
        if (running) {
            hubConnection.invoke("StopGame");
            clearTimeout(timerId);
            clearTimeout(pacManAnimId);
            clearTimeout(GhostAnimId);

            running = false;
        }
        else {
            alert("Game is stopped!");
        }
    });

    document.getElementById("upBtn").addEventListener("click", function (e) {
        hubConnection.invoke("TurnUp");

    });
    document.getElementById("leftBtn").addEventListener("click", function (e) {
        hubConnection.invoke("TurnLeft");

    });
    document.getElementById("rightBtn").addEventListener("click", function (e) {
        hubConnection.invoke("TurnRight");

    });
    document.getElementById("downBtn").addEventListener("click", function (e) {
        hubConnection.invoke("TurnDown");
    });

    var StartGame = function () {
        hubConnection.invoke("PrintScore");
    }

    function moveRect(e) {
        switch (e.keyCode) {

            case 37:  // если нажата клавиша влево
                hubConnection.invoke("TurnLeft");
                break;
            case 38:   // если нажата клавиша вверх
                hubConnection.invoke("TurnUp");
                break;
            case 39:   // если нажата клавиша вправо
                hubConnection.invoke("TurnRight");
                break;
            case 40:   // если нажата клавиша вниз
                hubConnection.invoke("TurnDown");
                break;
        }
    }

    addEventListener("keydown", moveRect);
    hubConnection.start();
    DrawCanvas();
</script>